.custom-navbar{
    background-color:  #ff7e3f ; /* beige comme la maquette */
    padding: 18px 0;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.navbar-brand{
    font-size: 26px;
    letter-spacing: 1px;
}

.nav-link{
    font-weight: 500;
    color: #000000 !important;
    position: relative;
}

.nav-link:hover{
    color: #0b6623 !important;
}

.nav-link.active{
    color: #0b6623 !important;
    border-bottom: 3px solid #0b6623;
    padding-bottom: 6px;
}
.hero-section{
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.35), rgba(0,0,0,0.35)),
                url('../images/imagekabada.jpg') center/cover no-repeat;
    color: white;
}        

.hero-title{
    font-size: 52px;
    font-weight: 700;
    margin-bottom: 20px;
}

.hero-text{
    font-size: 18px;
    line-height: 1.7;
    margin-bottom: 25px;
}

.hero-btn{
    background-color: #f1be31 ;
    color: rgb(0, 0, 0);
    padding: 12px 28px;
    font-weight: 600;
    border-radius: 4px;
}

.hero-btn:hover{
    background-color: #643c11;
    color: white;
}

@media (max-width: 768px){

    .hero-section{
        height: 85vh;
        text-align: left;
        padding-top: 80px;
    }

    .hero-title{
        font-size: 30px;
    }

    .hero-text{
        font-size: 15px;
    }
}

.section2{
    height: 100vh;
    width: 100%;
     background: linear-gradient(
        to bottom,
        #ff7e3f 0%,      /* orange ciel */
        #ff9a3c 25%,     /* orange doré */
        #ffb347 45%,     /* jaune soleil */
        #f98b3c 65%,     /* orange chaud */
        #b85c38 85%,     /* rouge/brun */
        #5e3b2c 100%     /* brun sombre */
    );
}
.tl2{
    display: flex;
}
.section2 h2{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: aliceblue;
}